/*stiles internes pour la page de profile*/
.profile-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-container form {
    display: flex;
    flex-direction: column;
}

.profile-container input,
.profile-container textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

.profile-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #c0392b;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #a93226;
}

.message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}